<h1>さば一覧</h1>
<% @sushis.each do |t| %>
  <% if t.category == "saba" %>  
  <p>寿司ネタの名前:<%= t.sushiname %></p>
  <p>おいしさの説明:<%= t.highlight %></p>
  <%= image_tag t.image_url, size: "150x100" if t.image? %>
  <% end %>
  
<% end %>