.magurobox1{
    display: flex;
    margin-bottom: 1%;

}

.magurotaste{
    width:15%

}

.magurotexture{
    width: 15%
}

.magurobox2{
    display: flex;
    margin-bottom: 5%;

}


.maguromini1{
    background-color: rgb(241, 246, 244);
    width: 65%;
}

.magurodetail{
    height: 10vh;
}

.maguroad{
    height: 10vh;
}

.maguromini2{
    background-color: rgb(249, 250, 254);
    width:35%
}

